/*Fonts Morion Regular otsikot ja Gotham light ingresseissä ja leipäteksteissä */

header {
    background-color: #69013b;
}

article {
    background-color: #ffffff;
}


footer {
    background-color: #69013b;
}