article {
    background-color: green;
}

section {
    background-color: yellow;
}

nav {
    background-color: orangered;
}

aside {
    background-color: blue;
}


header {
    background-color: red;
}

footer {
    background-color: darkmagenta;
}